<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>{{ title }}</h1>
			</div>
			<a routerLink="/dashboard">Dashboard</a>
			<a routerLink="/todos">Todos</a>
		</div>
		<router-outlet></router-outlet>
		<!--
		<todos-list></todos-list>
		<todo-detail [todo]="selectedTodo" ></todo-detail>
		-->
	</div>
</div>




	<!--
	<h2>{{todo.task}} details!</h2>

	<div class="container">
		<label>ID: </label>
		{{todo.id}}
	</div>
	
	<div class="container">
		<label>Note: </label>
		{{todo.note}}
	</div>
	
	<div class="container">
		<label>To Be Completed: </label>
		{{todo.toBeCompleted | date: 'medium'}}
	</div>

	<div class="container">
		<label>Task:</label>
		<input type="text" placeholder="Task" [(ngModel)] = 'todo.task'>
	</div>
	-->